
<% teams.each do |team| %>

  <%= link_to tournament_team_inscriptions_path(tournament,team), method: :post do %>
    <span> <%= team.users[0].first_name %> / <%= team.users[1].first_name %> </span>
  <% end %>
<% end %>



