#my-flex {
  display: flex
}

.cards{
  flex-grow: 1;
  padding: 0px 30px;
  margin-top: 10px
}

.modal {
top: auto;
bottom: 70px
}

.cards input.form-control {
  width: 93%;
  margin-left: 3.5%;
  height: 45px;
  border-radius: 30px;
  padding-left: 22px;
}

