<% @tournaments.each do |tournament| %>
<ul style="list-style-type: none;">
  <li><h4><%= tournament.name%> </h4></li>
  <li>Série: <%= tournament.serie%></li>
  <li>Date: <%= tournament.date %></li>
  <li> <%= tournament.address %></li>
</ul>
<% end %>
