<% @tournaments.each do |tournament| %>
 <% end %>


<div id = "my-flex">
  <div class="cards">
    <div class="row">
      <% @tournaments.each do |tournament| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= render 'shared/cards', tournament: tournament %>
        </div>
      <% end %>
    </div>
  </div>
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
