<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path "banner.jpg" %>');">
  <div class="banner-content">
    <div class="title">
      <h1>Trouve ton tournoi ! </h1>
    </div>
    <div class="paragraph">
      <p>Tous les tournois du Beach Volley français au même endroit</p>
    </div>
    <div class="search-bar">
      <%= form_tag tournaments_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Adresse, série ou nom" %>
      <% end %>
    </div>
  </div>
</div>
