g<div class="container">
      <div class="card-trip">
        <img src="https://www.sandsystem.com/beach-volley/wp-content/uploads/2019/01/cropped-jersey.jpg" class="simple-linear">
        <div class="card-trip-infos">
          <div>
            <h2>SSA Beach Series #1</h2>
            <p>Paris</p>
            <br>
                 <p><i class="fas fa-trophy"></i> 500€</p>
                  <p><i class="fas fa-male"></i><i class="fas fa-male"></i> 15 / 24</p>
                  <p><i class="fas fa-volleyball-ball"></i> Mikasa</p>
                  <p><i class="far fa-calendar-alt"></i> 09/03/2019</p>
          </div>
          <h2 class="card-trip-pricing">S1 - 1500 <br><br><br><br><br><br><br></h2>
          <div class="btn-yours"> S'inscrire</div>
          <img src='https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/15697766_1264943210239595_1378117228343581992_n.jpg?_nc_cat=106&_nc_ht=scontent-cdt1-1.xx&oh=416872ef2f4ebf8e001ce2e531762dac&oe=5D1B825B' class="card-trip-user avatar-bordered"/>
        </div>
      </div>
  </div>
