<div class="footer">
  <div class="footer-links">
    <a href="http://www.ffvb.org/"><i class="fas fa-volleyball-ball"></i></a>
  </div>
  <div class="footer-copyright">
    <p>BeachPlease <i class="fas fa-umbrella-beach"></i></p>
  </div>
</div>
