<% current_user.messages.each do |message| %>
 <% @messages = Message.where(tournament_id: message.tournament_id) %>
<% end %>
<% if @messages == nil %>
  <div style="clear: both;"></div>
<% else %>
  <% @messages.each do |message| %>
    <% if message.user != current_user %>
      <div class="rdg-expertise-description-beach"><span>
        <%= message.tournament.name %>
      </span></div>
      <%= link_to tournament_path(message.tournament, tab: 4) do %>
        <div class="dashboard-messages">
          <div class="rdg-expertise-category-messages">
            <span>
              <%=cl_image_tag message.user.photo, width: 50, height: 50, crop: :thumb, class: 'avatar'%> <%= message.user.first_name %> t'a envoyé un nouveau message
            </span>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
