<div class="container">
  <div class="services">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="service service-first">
          <div class="icon">
            <%= image_tag "Search.png", width: 100 %>
          </div>
          <p>Cherche ton tournoi</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="service service-second">
          <div class="icon">
            <%= image_tag "Inscription.png", width: 100 %>
          </div>
          <p>Inscris ton équipe</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="service service-third">
          <div class="icon">
            <%= image_tag "Stats.png", width: 100 %>
          </div>
          <p>Aie accès à tes stats</p>
        </div>
      </div>
    </div>
  </div>
</div>
