<div class="table">
  <div class="table-header">
    <div class="header__item"><a id="number" class="filter__link" href="#">#</a></div>
    <div class="header__item"><a id="last_name" class="filter__link filter__link--number" href="#">Nom</a></div>
    <div class="header__item"><a id="first_name" class="filter__link filter__link--number" href="#">Prénom</a></div>
    <div class="header__item"><a id="categories" class="filter__link filter__link--number" href="#">Catégorie</a></div>
    <div class="header__item"><a id="points" class="filter__link filter__link--number" href="#">Points</a></div>
    <div class="header__item"><a id="club" class="filter__link filter__link--number" href="#">Club</a></div>
  </div>
  <div class="table-content">
    <div class="table-row">
      <div class="table-data">1</div>
      <div class="table-data">SILVESTRE</div>
      <div class="table-data">Jérémy</div>
      <div class="table-data">Senior</div>
      <div class="table-data">13 900</div>
      <div class="table-data">Montpellier Beach Volley</div>
    </div>
    <div class="table-row">
      <div class="table-data">2</div>
      <div class="table-data">DI GIANTOMMASO</div>
      <div class="table-data">Romain</div>
      <div class="table-data">Senior</div>
      <div class="table-data">13 200</div>
      <div class="table-data">Montpellier Beach Volley</div>
    </div>
    <div class="table-row">
      <div class="table-data">3</div>
      <div class="table-data">ROWLANDSON</div>
      <div class="table-data">Edouard</div>
      <div class="table-data">Senior</div>
      <div class="table-data">11 150</div>
      <div class="table-data">RE Beach Club</div>
    </div>
    <div class="table-row">
      <div class="table-data">4</div>
      <div class="table-data">PLATRE</div>
      <div class="table-data">Timothée</div>
      <div class="table-data">Junior</div>
      <div class="table-data">10 850</div>
      <div class="table-data">Montpellier Beach Volley</div>
    </div>
    <div class="table-row">
      <div class="table-data">5</div>
      <div class="table-data">BARTHELEMY</div>
      <div class="table-data">Olivier</div>
      <div class="table-data">Senior</div>
      <div class="table-data">10 850</div>
      <div class="table-data">Nice Volley Ball</div>
    </div>
    <div class="table-row">
      <div class="table-data">6</div>
      <div class="table-data">GAUTHIER-RAT</div>
      <div class="table-data">Arnaud</div>
      <div class="table-data">Senior</div>
      <div class="table-data">9 100</div>
      <div class="table-data">Montpellier Beach Volley</div>
    </div>
    <div class="table-row">
      <div class="table-data">7</div>
      <div class="table-data">THIERCY</div>
      <div class="table-data">Maxime</div>
      <div class="table-data">Senior</div>
      <div class="table-data">9 100</div>
      <div class="table-data">Co Villiers Les Nancy</div>
    </div>
    <div class="table-row">
      <div class="table-data">8</div>
      <div class="table-data">KROU</div>
      <div class="table-data">Youssef</div>
      <div class="table-data">Senior</div>
      <div class="table-data">8 400</div>
      <div class="table-data">RE Beach Club</div>
    </div>
    <div class="table-row">
      <div class="table-data">9</div>
      <div class="table-data">CARAVANO</div>
      <div class="table-data">Adrian</div>
      <div class="table-data">Senior</div>
      <div class="table-data">8 200</div>
      <div class="table-data">Montpellier Beach Volley</div>
    </div>
    <div class="table-row">
      <div class="table-data">10</div>
      <div class="table-data">NICOLE</div>
      <div class="table-data">Paul</div>
      <div class="table-data">Junior</div>
      <div class="table-data">7 550</div>
      <div class="table-data">Tour Volley Ball</div>
    </div>
  </div>
</div>
