<div class="table">
  <div class="table-header">
    <div class="header__item"><a id="number" class="filter__link" href="#">#</a></div>
    <div class="header__item"><a id="last_name" class="filter__link filter__link--number" href="#">Nom</a></div>
    <div class="header__item"><a id="first_name" class="filter__link filter__link--number" href="#">Prénom</a></div>
    <div class="header__item"><a id="categories" class="filter__link filter__link--number" href="#">Catégorie</a></div>
    <div class="header__item"><a id="points" class="filter__link filter__link--number" href="#">Points</a></div>
    <div class="header__item"><a id="bluc" class="filter__link filter__link--number" href="#">Club</a></div>
  </div>
  <div class="table-content">
    <div class="table-row">
      <div class="table-data">1</div>
      <div class="table-data">LONGUET</div>
      <div class="table-data">Laura</div>
      <div class="table-data">Senior</div>
      <div class="table-data">11 000</div>
      <div class="table-data">Montpellier Beach Volley</div>
    </div>
    <div class="table-row">
      <div class="table-data">2</div>
      <div class="table-data">HARAGOVA</div>
      <div class="table-data">Vendula</div>
      <div class="table-data">Senior</div>
      <div class="table-data">11 000</div>
      <div class="table-data">Montpellier Beach Volley</div>
    </div>
    <div class="table-row">
      <div class="table-data">3</div>
      <div class="table-data">LUSSON</div>
      <div class="table-data">Ophélie</div>
      <div class="table-data">Senior</div>
      <div class="table-data">10 100</div>
      <div class="table-data">Montpellier Beach Volley</div>
    </div>
    <div class="table-row">
      <div class="table-data">4</div>
      <div class="table-data">FAURE</div>
      <div class="table-data">Morgane</div>
      <div class="table-data">Senior</div>
      <div class="table-data">8 900</div>
      <div class="table-data">Beach Volley Toulousain</div>
    </div>
    <div class="table-row">
      <div class="table-data">5</div>
      <div class="table-data">CAZALET</div>
      <div class="table-data">Zoé</div>
      <div class="table-data">Senior</div>
      <div class="table-data">8 900</div>
      <div class="table-data">Saint-Cloud Volley</div>
    </div>
    <div class="table-row">
      <div class="table-data">6</div>
      <div class="table-data">PLACETTE</div>
      <div class="table-data">Lezana</div>
      <div class="table-data">Senior</div>
      <div class="table-data">8 880</div>
      <div class="table-data">ENT Sport Meylan La Tronche</div>
    </div>
    <div class="table-row">
      <div class="table-data">7</div>
      <div class="table-data">GUYOT POLVERINI</div>
      <div class="table-data">Mia Séverine</div>
      <div class="table-data">Junior</div>
      <div class="table-data">8 750</div>
      <div class="table-data">Stella Edu SP Calais</div>
    </div>
    <div class="table-row">
      <div class="table-data">8</div>
      <div class="table-data">JUPITER</div>
      <div class="table-data">Alexandra</div>
      <div class="table-data">Senior</div>
      <div class="table-data">8 480</div>
      <div class="table-data">Beach Volley Toulousain</div>
    </div>
    <div class="table-row">
      <div class="table-data">9</div>
      <div class="table-data">VIEIRA</div>
      <div class="table-data">Clémence</div>
      <div class="table-data">Junior</div>
      <div class="table-data">7 900</div>
      <div class="table-data">Grenoble V.Université Club</div>
    </div>
    <div class="table-row">
      <div class="table-data">10</div>
      <div class="table-data">CHAMEREAU</div>
      <div class="table-data">Aline</div>
      <div class="table-data">Senior</div>
      <div class="table-data">7 260</div>
      <div class="table-data">Club Omnisports de Saint-Fons</div>
    </div>
  </div>
</div>
