<%= render 'shared/banner' %>

<div class="container box ">

  <div class="col-xs-6 col-md-4 service service-first">
    <div class="icon">
      <%= image_tag "Search.png", width: 100 %>
    </div>
    <p>Cherche ton tournoi</p>
  </div>
  <div class="col-xs-6 col-md-4 service service-second">
    <div class="icon">
      <%= image_tag "Inscription.png", width: 100 %>
    </div>
    <p>Inscris ton équipe</p>
  </div>
  <div class="col-xs-6 col-md-4 service service-third">
    <div class="icon">
      <%= image_tag "Stats.png", width: 100 %>
    </div>
    <p>Aie accès à tes stats</p>
  </div>
</div>
