.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 120px 0;
  align-items: center;
  justify-content: center;
}

@media (min-width: 480px) {
  .banner {
    width: 100%;
  }
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 2px grey;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 1;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px grey;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar {
  position: relative;
  #query {
    height: 60px;
    width: 500px;
    border-radius: 30px;
    padding-left: 22px;
  }
  .btn.btn-search {
    background-color: transparent;
    position: absolute;
    top: 4%;
    right: 1%;
    font-size: 30px;
    :hover {
      color: #ffda63;
    }
  }
}

