.btn-yours {
  color: #0C7489;
  size: 75vh;
  font-weight: bold;
  border: 1px solid #53BDFF;
  padding: 10px 20px;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 14px;
  opacity: 0.8;
  transition: 0.5s ease;
  position: absolute;
  // right: 15px;
}

.btn-yours a {
  color: white;
}

.btn-yours:hover {
  border-bottom-right-radius: 14px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid #e6b30e;
  opacity: 1;
}

.btn-yours2 {
  color: #0C7489;
  size: 75vh;
  font-weight: bold;
  border: 1px solid #53BDFF;
  padding: 10px 20px;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 14px;
  opacity: 0.8;
  transition: 0.5s ease;
  // position: absolute;
  right: 15px;
  margin-left: 50px;
}

.btn-yours2 a {
  color: white;
}

.btn-yours2:hover {
  border-bottom-right-radius: 14px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid #e6b30e;
  opacity: 1;
}
