.btn-yours {
  color: #0C7489;
  size: 75vh;
  font-weight: bold;
  border: 1px solid #53BDFF;
  padding: 10px 20px;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 14px;
  opacity: 0.8;
  transition: 0.5s ease;
  position: absolute;
}

.btn-yours a {
  color: white;
}

.btn-yours:hover {
  border-bottom-right-radius: 14px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid #e6b30e;
  opacity: 1;
}

.btn-yours2 {
  background-color: #0C7489;
  color: white;
  size: 100%;
  font-weight: bold;
  border: 2px solid #ffda63;
  padding: 10px 20px;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 14px;
  opacity: 0.8;
  transition: 0.5s ease;
  right: 15px;
  margin-left: 50px;
}

.btn-yours2 a {
  color: white;
}

.btn-yours2:hover {
  border-bottom-right-radius: 14px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 2px solid #0C7489;
  background-color: #ffda63;
  color: white;
  text-shadow: 0 2px 3px rgba(0,0,0,0.3);
  opacity: 1;
}

.btn-yours.btn-yours3 {
  position: relative;
  font-size: 16px;
  padding: 6px 15px;
  &:hover {
    text-decoration: none;
  }
}


.stripe-button-el {
  background: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.stripe-button-el span {
  border: 1px solid #53BDFF !important;
  padding: 6px 15px !important;
  border-radius: 14px 0px !important;
  background: transparent !important;
  height: 100% !important;
  line-height: inherit !important;
  color: #0C7489 !important;
  font-family: "Quicksand", sans-serif !important;
  font-size: 16px !important;
  opacity: 0.8 !important;
  text-shadow: none !important;
  box-shadow: none !important;
  transition: 0.5s ease !important;
}

.stripe-button-el span:hover {
  border-radius: 0px 14px !important;
  border: 1px solid #e6b30e !important;
  color: #063843 !important;
  opacity: 1 !important;
}
