.tournament-name{
 width: 212px;
}

.tournament-name h2 {
  font-family: 'Roboto', sans-serif;
  color: rgb(178, 175, 174);
  border-bottom: solid;
  padding-bottom: 7px;
  width: 212px;
  border-bottom-color: rgb(48, 121, 171);
}
.card-tournament {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 14px;
  width: 85%;
  height: 250px;
  margin: 15px 7.5% 0px;
  background-color: rgba(255, 255, 255, 0.6)
}

.card-tournament > img {
  height: 50%;
  width: 95%;
  margin-left: 5px;
  margin-top: 5%;
  object-fit: cover;
}

.card-tournament h2 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  margin: 0px !important;
}

#card-price-symbol {
  font-weight : bold;
  font-size: 15px;
}

.card-top-line {
  display: flex;
  justify-content: space-between;
  h2 {
    border-bottom: solid #347AA9 2px;
    padding: 0px 0px 10px;
    width: 75%;
  }
}

.card-tournament-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-tournament-infos .card-tournament-user {
  position: absolute;
  right: 16px;
  top: -25px;
  width: 40px;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.card-tournament-infos .series {
  position: absolute;
  right: 10px;
  top: -105px;
  width: 115px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: white;
}

.card-link {
 width: 70%;
 top: 15px;
 right: 40px;
 left: 40px;
 position: absolute;
 bottom: 0;
 background-color: black;
 opacity:0;
 z-index: 0;
}

.tournament-info p {
  margin: 3px 0px 0px !important;
}
