.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}

.nav-sidebar {
    width: 175px;
    padding: 30px 0;
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #0c7489;
    color: #fff;
}

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.tab-content {
  width: 800px;
  background-color: rgba(255,255,255,0.5);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
  height: 400px;
  overflow: scroll;
}

.nav>li.active>a:hover, .nav>li.active>a:focus {
  background-color: #0c7489;
}

.fas {
  color: #0c7489;
}
.fa {
  color: #0c7489;
}

.contenant {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.fa-user-edit:hover {
    color: #ffda63;
  }

.avatar {
  border-radius: 50%;
}

#equipes {
  width: 100%;
}

.names p {
  margin: 0;
}
.team {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  padding: 10px 0;
  border: 0.5px solid lightgray;
  background-color: white;
}

#calendar {
  margin-left: 15px;
  background-color: rgba(255,255,255,0.5);
}

