.dashboard-messages {
  display: flex;
  align-items: center;
  border : #0C7489 1px dashed;
  border-radius: 30px;
  width: 90%;
  margin-left: 5%;
  margin-right: 45px;
  margin-bottom: 20px;
  height: 60px;
}

.rdg-expertise-category-messages { width: 480px;}
.rdg-expertise-category-messages span { margin-top:auto; font-size: 18px; font-weight: bold;}

.rdg-expertise-description-info p {margin-right: 20px; margin-bottom: 0px;}

.rdg-expertise-description-name {
  padding: 10px;
  font-weight: bolder;
}

#mymessages  a:hover {
  text-decoration: none
}
