.clickable {
  cursor: pointer;
}


.clickable:hover {
  background-color: #52ACF4;
}

.clickable.active {
  color: inherit;
  border-color: inherit;
}

.clickable.active i {
  color: #52ACF4;
}

.modal-footer {
  display : flex;
  justify-content: flex-end;
  .btn {
    margin-right: 5px;
  }
}
