.services {
  padding: 100px 0;
  margin: 20px 0;
}
.service {
  background-color: white;
  text-align: center;
  box-shadow: 2px 2px 11px rgba(0,0,0,0.2);
  height: 180px;
  border-radius: 10px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-first {
  .icon {
    padding-top: 15px;
  }
  p {
    margin-top: 15px;
  }
}

.service-second {
  p {
    margin-top: 10px;
  }
}

.service-third {
  .icon {
    padding-top: 25px;
  }
  p {
    margin-top: 20px;
  }
}

