.ranking-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  margin-top: 15px;
}

.ranking-product h2 {
  font-size: 16px;
  font-weight: bolder;
  margin: 0;
}

.ranking-product h3 {
  font-size: 14px;
  font-weight: bolder;
  margin-top: 5px;
}

.ranking-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0;
}

.rank {
  display: flex;
  align-items: center;
  width: 300px;
  p {
    font-size: 16px;
    color: #333;
  }
}
