@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// *,*::before,*::after{margin:0;padding:0;box-sizing:border-box;}html,body{height:100vh;}body{display:flex;align-items:center;justify-content:center;padding:0px;font:14px/1.5 'Open Sans',sans-serif;color:#345;background:#f0f2f4;}

#tabs {
  p:not(:last-child) {
    margin: 0 0 20px;
  }

  main {
    // border: 1px solid rgba(0,0,0,.2);
    background: #fff;
    opacity: 0.7;
    box-shadow: 2 2px 11px rgba(0,0,0,.2);
    border-radius: 14px;
    width: 80%;
    margin-top: -70px;
  }

  section {
    display: none;
    padding: 20px 0 0;
    border: 1px solid #abc;
    border-radius: 30px;
  }

  input {
    display: none;
    }

  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #2A2A2A;
    border: 1px solid transparent;
    position: relative;
  }


  label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
  }

  input:checked + label[for*='1'] {
    border: 0px;
  }

   input:checked + label[for*='1']:before {
    content: '';
    bottom: -30px;
    left: 0;
    border-top: 2px solid #0C7489;
    border-top-left-radius: 30px;
    width: 100%;
    position: absolute;
    height: 30px;
  }
  label[for*='2']:before { content: '\f255\f257'; }
  label[for*='3']:before { content: '\f0e8'; }
  label[for*='4']:before { content: '\f002'; }



  label:hover {
    color: #789;
    cursor: pointer;
  }

  input:checked + label {
    color: #0C7489;
    // border: 1px solid #abc;
    border-bottom: 2px solid $blue;
  }

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4 {
    display: block;
  }

  @media screen and (max-width: 800px) {
    label {
      font-size: 0;
    }
    label:before {
      margin: 0;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 500px) {
    label {
      padding: 15px;
    }
  }
}

  .pricecription {
    position: absolute;
    height: 100px;
    margin-left: 75%;
    margin-top: 50px;
    top: 100px;
    position: sticky;
  }

#messages input {
  display: inline !important;
}

#content2 p {
  margin-left: 15px;
}
